*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.cardHighlight {
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 20);
  transition: box-shadow 0.2s ease-in-out;
}

.cardHighlight:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

